---
---

// variables

$width-page: 720px;

$background-body: #fdf6e3;
$background-code: #eee8d5;

$color-text: #333333;
$color-heading: #6c6c6c;
$color-anchor: #20597e;
$color-code: #555555;

$font-body: 19px Georgia, serif;
$font-code: 18px Consolas, Courier New, monospace;


// styles

body {
  max-width: $width-page;
  background: $background-body;
  color: $color-text;
  font: $font-body;
  line-height: 1.58;
  margin: 0 auto 50px;
  padding: 0 20px;

  @media(max-width: $width-page) {
    font-size: 17px;
  }
}

a, a:visited {
  color: $color-anchor;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-heading;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-bottom: 15px;

  a, a:visited {
    text-decoration: none;
    color: $color-anchor;
  }
}

blockquote {
  font-style: italic;
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 24px;

  @media(max-width: $width-page) {
    font-size: 20px;
  }
}

code, pre {
  background: $background-code;
  color: $color-code;
  font: $font-code;
}

pre {
  margin: 20px 0;
  padding: 10px 15px;
}

div.path {
  background: $background-code;
  font-size: smaller;
  padding: 10px 15px 8px;
  margin: 25px 0 -20px;
  border-bottom: 3px solid #2aa198;
}

img {
  max-width: $width-page;
}

header, footer {
  margin: 40px 0;
}

header a {
  font-size: smaller;
}

footer {
  clear: both;
  font-size: smaller;
}

.pagination {
  margin-top: 40px;
  font-size: smaller;
}

.next {
  float: right;
}

body.lesson h1 {
  font-size: 32px;
  margin-bottom: 0;
}
