---
---

// variables

$width-page: 750px;

$background-body: #fdf6e3;
$background-code: #eee8d5;

$color-text: #333333;
$color-heading: #6c6c6c;
$color-anchor: #20597e;

$font-family: Georgia, serif;


// styles

body {
  max-width: $width-page;
  background: $background-body;
  color: $color-text;
  font-family: $font-family;
  font-size: 20px;
  line-height: 1.58;
  margin: 0 auto 50px;
  padding: 0 20px;

  @media(max-width: $width-page) {
    font-size: 18px;
  }
}

a, a:visited {
  color: $color-anchor;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-heading;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-bottom: 15px;

  a, a:visited {
    text-decoration: none;
    color: $color-anchor;
  }
}

blockquote, pre {
  background: $background-code;
  font-style: italic;
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 26px;

  @media(max-width: $width-page) {
    font-size: 22px;
  }
}

img { max-width: $width-page; }

header, footer {
  margin: 40px 0;
}

header a {
  font-size: smaller;
}

footer {
  clear: both;
  font-size: smaller;
}

.pagination {
  margin-top: 40px;
  font-size: smaller;
}

.next {
  float: right;
}

body.lesson h1 {
  font-size: 32px;
  margin-bottom: 0;
}
