
// reused variables

// page width and media queries
$page-width: 700px;

// anchors and inline code blocks
$color-anchor: #20597e;
$color-background: #ffffff;


// styles

body {
  max-width: $page-width;
  background: $color-background;
  color: #1D2326;
  font-family: Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.58;
  margin: 0 auto 50px;
  padding: 0 20px;

  @media(max-width: $page-width) { font-size: 18px; }
}

a, a:visited { color: $color-anchor; }

h1, h2, h3, h4, h5, h6 {
  color: #33332D;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-bottom: 15px;

  a, a:visited {
    text-decoration: none;
    color: #33332D;
  }
}

.index h3 { margin-top: 0; }

blockquote {
  font-style: italic;
  margin: 1.5em 0;
  padding: 0 1em;
  font-size: 26px;

  @media(max-width: $page-width) { font-size: 22px; }
}

img { max-width: $page-width; }
