
$width-page: 720px;

$background-body: #fdf6e3;
$background-code: #eee8d5;

$color-text: #333333;
$color-heading: #454545;
$color-anchor: #20597e;
$color-code: #555555;
$color-code-border: #555555;

$font-body: 18px Georgia, serif;
$font-code: 15px Consolas, Courier New, monospace;
