<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  <link rel="shortcut icon" href="/favicon.ico?v=1"/>
  {% capture scss %}{% include styles.scss %}{% endcapture %}
  <style>{{ scss | scssify }}</style>
</head>
<body class="{{ page.layout }}">

<header>
  <h2><a href="{{ site.url }}">{{ site.title }}</a></h2>
  <a href="https://seanpackham.com">Sean Packham</a> -
  <a href="https://twitter.com/SeanPackham" target="_blank">Twitter</a> -
  <a href="https://www.linkedin.com/in/seanpackham/" target="_blank">LinkedIn</a>
</header>

{{ content }}

<footer>
</footer>

</body>
</html>
